extends layout

block content
  h1 Product: #{product.name}
  div
    p Product Code: #{product.pcode}
    p Category: #{product.category.name} 
    p Description: #{product.description}
    p Price: #{product.price.toFixed(2)}

  a.btn.btn-secondary(href=`/catalog/product/${product._id}/update`) Update Product
  p
  a.btn.btn-danger(href=`/catalog/product/${product._id}/delete`) Delete Product
